@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: #FDF6EA !important;

}


.search_area {
	padding-top: 50px;
}

.result-block {
	display: inline-block;
	margin-bottom: 1rem;
}

.logout_btn {
	margin-right: 10px !important;
}

.user_full_name {
	margin-top: 10px;
	padding-right: 5px;
}